/* General rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;

}

  h1 {
    font-size: 45px;
    font-weight: normal;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* Header */
#header {
  position: relative;
  height: 70px;
}

  #header > .row {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }

  #header a {
    color: black;
  }

/* Jumbo */
#jumbo {
  background-image: url("../img/helbiz-city.jpg");
  background-position: left center;
  height: 550px;
  color: white;
  position: relative;
}

  #jumbo p {
    margin: 15px 0;
  }

/* Bikes */
#bikes > .row {
  margin-bottom: 30px;
}

  #bikes .row div {
    min-height: 150px;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 30px;
    padding: 30px;
  }

  #bikes h2 {
    font-size: 32px;
    font-weight: 500;
  }

  #bikes p {
    font-size: 20px;
    padding: 20px 0;
  }

  #bikes .row > div:first-child {
    margin-right: 15px;
  }

  #bikes .row > div:last-child {
    margin-left: 15px;
  }

/* Gentleman */
#gentleman > div:first-child {
  width: 100%;
  height: 400px;
  background-image: url("../img/anziano.jpg");
  background-position: center left;
}

  #gentleman > .row {
    height: 400px;
  }

/* Boxes */
#boxes .row [class*="col-"] {
  height: 400px;
}

  #boxes > .row:last-child {
    margin-top: 30px;
  }

  #park {
    height: auto;
    background-image: url("../img/park.jpg");
    color: white;
  }

    #park > div {
      position: relative;
    }

  #phone {
    background-image: url("../img/phone.png");

  }

  #city {
    background-image: url("../img/building.jpg");
    background-position: center top;
  }


/* HelbizFamily */
#family {
  background-image: url("../img/pachwork.jpg");
  height: 400px;
  background-size: contain;
}

/* Footer */
#footer {
  background-color: black;
  color: white;
}

  #footer .row .col-lg-3 nav a {
    color: grey;
    display: block;
  }

  #footer a {
    color: white;
  }

  #footer > .row {
    padding: 30px 0;
  }

  #footer > .row.center {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
  }
