/* General rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Header */
header > .row {
  height: auto;
}


/* Jumbo */
#jumbo {
  background-image: url("../img/helbiz-city.jpg");
  background-position: left center;
  background-size: 120%;
  height: 550px;
}

/* Bikes */
#bikes .row .col-lg-6 {
  min-height: 150px;
  background-color: lightgrey;
}

/* Gentleman */
#gentleman {
  background-image: url("../img/anziano.jpg");
  height: 400px;
  background-position: center;
  background-size: 110%;
}
