/* General rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Header */
#header {
  position: relative;
  height: 70px;
}

#header > .row {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}


#header a {
  color: black;


}


/* Jumbo */
#jumbo {
  background-image: url("../img/helbiz-city.jpg");
  background-position: left center;
  background-size: 120%;
  height: 550px;
}

/* Bikes */
#bikes .row div {
  min-height: 150px;
  background-color: whitesmoke;
  text-align: center;
  margin-top: 30px;
  padding: 30px;
}

#bikes p {
  padding: 20px 0;
}

/* Gentleman */
#gentleman > div:first-child {
  background-image: url("../img/anziano.jpg");
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: 110%;
}

#gentleman > .row {
  height: 400px;
}

/* Boxes */
#boxes .row [class*="col-"] {
  height: 400px;
}

#park {
  background-image: url("../img/park.jpg");
  background-size: 100%;

}

#phone {
  background-image: url("../img/phone.png");
}

#city {
  background-image: url("../img/building.jpg");
  background-position: center top;
  background-size: 100%;
}


/* HelbizFamily */
#family {
  background-image: url("../img/pachwork.jpg");
  height: 400px;
  background-size: contain;
}

/* Footer */
#footer {
  background-color: black;
  color: white;
}

#footer .row .col-lg-3 nav a {
  color: grey;
  display: block;
}

#footer a {
  color: white;
}

#footer > .row {
  padding: 30px 0;
}

#footer > .row.center {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
